<router-outlet></router-outlet>
<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <h3>Add new list</h3>
        <div class="input-group">
          <input type="text" placeholder="List title" class="form-control">     
          <a href="#" class="hbtn hb-border-top-br3 hpill hpad2 hbor2">
            <i class="fa fa-plus" aria-hidden="true"></i> Add
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4 offset-md-4">  
        <app-list></app-list>
      </div>
    </div>
  </div>
</div> -->