.list-group-item {
    input {
        margin-right: 1rem;
    }
    i {
        margin-left: auto;
    }

    input[type=checkbox]:checked + span.striked {
        text-decoration: line-through;
    }
}

