// ogarná kiedy jest za duo znaków
// add item button
.hbtn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 8px 20px;
    text-align: center;
    border: 2px solid #0275d8;
    text-decoration: none;
    background-color: #0275d8;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    z-index: 0;
} 

.hbtn i {
    padding-right: 8px;
} 

.hb-fill-bottom-rev-bg-br::before {
    position: absolute;
    content: "";
    background: #0275d8;
    transition-duration: 0.3s;
    z-index: -1;
    top: 0px;
    right: auto;
    bottom: auto;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    border: 2px solid #0275d8;
} 

.hb-fill-bottom-rev-bg-br:hover::before {
    width: 100%;
    height: 0px;
    opacity: 1;
} 

.hb-fill-bottom-rev-bg-br:hover {
    background: rgb(255, 255, 255);
    color: #0275d8;
    transition: all 0.3s ease;
} 

.hpad2 {
    padding: 12px 24px !important;
} 

.hbor2 {
    border-width: 2px;
} 

.hbor2::before {
    border-width: 2px !important;
} 

a {
    &:active, &:focus {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
}

// list group items
.list-group-item {
    input {
        margin-right: 1rem;
    }
    .label + input {
        margin-right: 0;
        border: none;
        &:active, &:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid #0275d8;
        }
    }
    .striked {
        text-decoration: line-through;
    }

    // checkbox
    .label__checkbox {
        display: none;
    }
      
    .label__check {
        display: inline-block;
        border-radius: 50%;
        border: 5px solid rgba(0,0,0,0.1);
        background: white;
        vertical-align: middle;
        margin-right: 20px;
        width: 2em;
        height: 2em;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border .3s ease;
        
        i.icon {
          opacity: 0.2;
          font-size: 'calc(1rem + 1vw)';
          color: transparent;
          transition: opacity .3s .1s ease;
          -webkit-text-stroke: 3px rgba(0,0,0,.5);
        }
        
        &:hover {
          border: 5px solid #0275d8;
        }
    }
      
    .label__checkbox:checked + .label__text .label__check {
        animation: check .5s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
        
        .icon {
          opacity: 1;
          transform: scale(0);
          color: white;
          -webkit-text-stroke: 0;
          animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
        }
    }
      
    .center {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
    }
      
    @keyframes icon {
        from {
          opacity: 0;
          transform: scale(0.3);
        }
        to {
          opacity: 1;
          transform: scale(1)
        }
    }
      
    @keyframes check {
        0% {  
            opacity: 0.1;
            background: rgba(0,0,0,0.2);
          }
        10% {
          opacity: 0.2;
          background: rgba(0,0,0,0.2);
        }
        12% {
          opacity: 0.4;
          background: rgba(0,0,0,0.1);
        }
        50% {
          background: #0275d8;
          opacity: 0.6;
        }
        100% {
          background: #0275d8;
          opacity: 1;
        }
    }
    // close
    .del{
        margin-left: auto;
        .del__checkbox {
            display: none;
        }
          
        .del__check {
            display: inline-block;
            border-radius: 50%;
            border: 5px solid rgba(0,0,0,0.1);
            background: white;
            vertical-align: middle;
            margin-right: 20px;
            width: 2em;
            height: 2em;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: border .3s ease;
            
            i.icon {
              opacity: 0.2;
              font-size: 'calc(1rem + 1vw)';
              color: transparent;
              transition: opacity .3s .1s ease;
              -webkit-text-stroke: 3px rgba(0,0,0,.5);
            }
            
            &:hover {
              border: 5px solid #0275d8;
            }
        }
          
        .del__checkbox:checked + .del__text .del__check {
            animation: check .1s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
            
            .icon {
              opacity: 1;
              transform: scale(0);
              color: white;
              -webkit-text-stroke: 0;
              animation: icon .1s cubic-bezier(1.000, 0.008, 0.565, 1.650) 1 forwards;
            }
        }
          
        .center {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
        }
          
        @keyframes icon {
            from {
              opacity: 0;
              transform: scale(0.3);
            }
            to {
              opacity: 1;
              transform: scale(1)
            }
        }
          
        @keyframes check {
            0% {  
                opacity: 0.1;
                background: rgba(0,0,0,0.2);
              }
            10% {
              opacity: 0.2;
              background: rgba(0,0,0,0.2);
            }
            12% {
              opacity: 0.4;
              background: rgba(0,0,0,0.1);
            }
            50% {
              background: #0275d8;
              opacity: 0.6;
            }
            100% {
              background: #0275d8;
              opacity: 1;
            }
        }
    }
    
}

.card {
    border-bottom-color: transparent;
    border-radius: .95rem .95rem 0 0;
    .card-header {
        border-radius: .95rem .95rem 0 0;
    }
}

// completed tasks list
.completed {
    .list-group-item{
        input {
            color: gray;
            text-decoration: line-through;
            &:focus, &:active {
                color: black;
                text-decoration: none;
            }
        }
    }
}

.jumbotron {
    margin-bottom: 0;
}