<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <!-- <div class="row">
      <div class="col-md-4 offset-md-4">
        <h3>Add new list</h3>
        <div class="input-group">
          <input type="text" placeholder="List title" class="form-control">     
          <a href="#" class="hbtn hb-border-top-br3 hpill hpad2 hbor2">
            <i class="fa fa-plus" aria-hidden="true"></i> Add
          </a>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card">
          <div class="card-header text-center">
            {{ title }}
          </div>
          <div class="input-group">
            <input type="text" placeholder="New item" class="form-control" #input 
                  (keyup.enter)="add(input.value); input.value='' " 
                  (blur)="add(input.value); input.value='' ">    
            <a href="#" class="hbtn hb-fill-bottom-rev-bg-br hpad2 hbor2" (click)="add(input.value)">
              <i class="fa fa-plus" aria-hidden="true"></i> Add
            </a> 
          </div>      
          <ul class="list-group list-group-flush">
            <li class="list-group-item" 
                *ngFor="let item of items; let i = index"> 
              <label class="label">
                <input class="label__checkbox" type="checkbox" value="{{ i }}" (click)="complete($event.target)"/>
                <span class="label__text">
                  <span class="label__check">
                    <i class="fa fa-check icon"></i>
                  </span>
                </span>
              </label>
              <input #itemText value="{{ item }}" (keyup.enter)="valuechange($event)">
              <label class="del">
                <input class="del__checkbox" type="checkbox" value="{{ i }}" (click)="remove(item)"/>
                <span class="del__text">
                  <span class="del__check">
                    <i class="fa fa-times icon"></i>
                  </span>
                </span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4 offset-md-4">    
        <div class="card completed" *ngIf="completedTasks.length > 0">
          <div class="card-header text-center">
            {{ completeTitle }}
          </div>     
          <ul class="list-group list-group-flush">
            <li class="list-group-item" 
                *ngFor="let task of completedTasks; let j = index"> 
              <label class="label">
                <input class="label__checkbox" type="checkbox" value="{{ j }}" (click)="edit($event.target)"/>
                <span class="label__text">
                  <span class="label__check">
                    <i class="fa fa-check icon"></i>
                  </span>
                </span>
              </label>
              <input #itemText value="{{ task }}">
              <label class="del">
                <input class="del__checkbox" type="checkbox" value="{{ j }}" (click)="removeComplete(task)"/>
                <span class="del__text">
                  <span class="del__check">
                    <i class="fa fa-times icon"></i>
                  </span>
                </span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
  